*,*::after,*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  font-family: 'Roboto', sans-serif;
}


.bar--chart {
  max-width: 100%;
  overflow-x: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
}


.data {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(51, 51, 159);
}


.data--container {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5rem;
  border: 1px solid rgb(51, 51, 159);
  border-radius: 10px;
  position: relative
}


.select--container {
  padding: 1rem;
}


.select {
  padding: 10px;
  outline: none;
  border: 1px solid rgb(51, 51, 159);
}


.cases h1{
  font-size: 2rem;
  letter-spacing: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
}


.cases div p:first-child {
  letter-spacing: 5px;
}


.cases div > p {
  padding: 1rem;
}

.cases div {
  border-top: 1px solid rgb(51, 51, 159);
}



/* MEDIA QUERY */
@media (min-width: 1025px) {
  body {
    margin-left: 10%;
    margin-right: 10%;
  }
}


@media (max-width: 768px) {
  body {
    margin: 0;
  }


  .data--container {
    margin: 0;
  }


  .cases div {
    display: flex;
  }

  .data--container {
    display: flex;
    flex-direction: column;
  }

  .cases div {
    border-bottom: 1px solid rgb(51, 51, 159);
  }

  .bar--chart {
    height: 20rem;
    width: 100%;
    overflow: auto;
  }

  select {
    width: 10rem;
  }
}